<jce-spinner [visible]="islodding" ></jce-spinner>


<jce-user-form (userAddedEvent)="addUser($event)"></jce-user-form>
<div>
  <ul class="list-group users" >
    <li *ngFor = "let user of users" [class.active]="currentUser==user" (click)="select(user)" class="list-group-item">
     <jce-user [user] = "user" (deleteEvent)="deleteUser($event)" (editEvent)="updateUser($event)">  </jce-user>
     <ul> 
       <li *ngFor = "let title of user.postTitle">
              {{(title | async)?.title}}
            </li>
        </ul>
    </li>
  </ul>
</div>

<div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th> Name:</th>
        <th>Email:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let user of users" >
        <td>{{user.name}}</td>
        <td>Email {{user.email}}  </td>
      </tr>
       </tbody>
  </table>

  </div>